<div class="w-screen h-screen flex justify-center bg-gray-800 text-white">
  <div class="mt-48">
    <div class="flex gap-2">
      <input
        type="text"
        class="bg-slate-200 rounded-lg p-3 text-black outline-none"
        (change)="onInputChange($event)"
        [value]="text"
        placeholder="Enter a todo"
      />
      <button
        class="bg-yellow-400 text-white p-3 rounded-lg"
        (click)="addTodo()"
      >
        Add
      </button>
    </div>
    <ul class="pl-3 mt-6 h-64 overflow-y-auto">
      <li
        class="flex items-center gap-3"
        *ngFor="let todo of todos; let i = index"
      >
        {{ i + 1 }} - {{ todo.title }}
        <input
          type="checkbox"
          [value]="todo.completed"
          (change)="onChecked(todo.id)"
          [checked]="todo.completed"
        />
        <div class="ml-auto cursor-pointer" (click)="onDelete(todo.id)">Delete</div>
      </li>
    </ul>
  </div>
</div>
